
<nav>
    <ul>
        <li><a href="/"><img src="/assets/logo.jpg" style = "height: 50px; width:auto"></a></li>
    <% if (!currentUser) {%>
        <li><a href="/">Home</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/signup">Signup</a></li>
    <% } else { %>
    <li><a href="/">Home</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/auth/logout">Logout</a></li>
    <% } %>
    </ul>
</nav>
