

<form method= "POST" action="/profile/editTask/<%=tasktoUpdate.id %>?_method=PUT" >
        <div>
            <label for="title">Activity Title</label>
            <input type="text" id="title" name="title">
            <input type="submit">
        </div>

<form>