<h2>Homepage</h2>
<div id="category-container">    
    <a href="categories/driving">Driving</a>
  
    <a href="categories/publictransportation"> Public Transportation</a>
   
    <a href="categories/flight">Flight</a>
</div>