<h2>Homepage</h2>
<div id="category-container">   
    <div>
        <a href="categories/driving">Driving</a>
        <img src="../assets/driving.jpg" alt="driving" style="height: 200px; width:auto">
    </div> 
    <div>
        <a href="categories/publictransportation"> Public Transportation</a>
        <img src="../assets/publictransportation.jpg" alt="public transportation" style="height: 200px; width:auto">
    </div> 
    <div>
        <a href="categories/flight">Flight</a>
        <img src="../assets/flight.jpg" alt="flight" style="height: 200px; width:auto">
    </div>   
</div>
<div>
    <img src="../assets/ad-1.jpeg" alt="change" style="height: 300px; width:auto">
    <img src="../assets/ad-2.jpeg" alt="change" style="height: 300px; width:auto">
    <img src="../assets/ad-3.jpeg" alt="change" style="height: 300px; width:auto">
</div>