
<p class="result-box"> Your carbon footprint would be: <%= result.carbonFootprint %> kg | <%= Math.floor(parseInt(result.carbonFootprint)*2.2) %> lbs </p>
<a id="larr" href="/">&larr; Back to Home</a>