
<div class="container">
    <div class="row result-box">
        <p> Your carbon footprint would be: <%= result.carbonFootprint %> kg | <%= Math.floor(parseInt(result.carbonFootprint)*2.2) %> lbs </p>
    </div>
    <div class="row">
        <a id="larr" href="/">&larr; Back to Home</a>
    </div>
</div>

