nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}
footer ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}
nav, footer{
  background-color: rgb(141, 129, 129);
  padding: 3px;
}

h1 {
  color: rgb(141, 129, 129);
  text-align: center;
}
#category-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}