nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}
nav{
  background-color: gray;
  padding: 3px;
}

h1 {
  color: rgb(112, 112, 112);
  text-align: center;
}
#category-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}