<h3>DRIVING</h3>

<form action="../users/result" method= "POST">
    <div>
        <label for="title">Activity Title</label>
        <input type="text" id="title" name="title">
    </div>
    <div>
        <label for="country">Country</label>
        <input type="text" id="country" name="country">
    </div>
    <div>
        <input type="radio" id="dieselCar" name="mode" value="dieselCar">
        <label for="dieselCar">Diesel Car</label>
        <input type="radio" id="petrolCar" name="mode" value="petrolCar">
        <label for="petrolCar">Petrol Car</label>
        <input type="radio" id="anyCar" name="mode" value="anyCar">
        <label for="anyCar">Any Car</label>
        <input type="radio" id="motorbike" name="mode" value="motorbike">
        <label for="motorbike">Motorbike</label>
    </div>
    <div>
        <label for="amount">Amount</label>
        <input type="text" id="amount" name="activity">
    
        <input type="radio" id="miles" name="activityType" value="miles">
        <label for="miles">miles</label>
        <input type="radio" id="fuel" name="activityType" value="fuel">
        <label for="fuel">gallons</label>

    </div>
    <div>
        <input type="submit">
    </div>
    
</form>