<h3 id='text-1'>PUBLIC TRANSPORTATION</h3>

<div id="page-container">
    <div id="form-container">
    <% if(!currentUser) { %>
        <form action="/result" method= "POST">  
    <% } else { %>
        <form action="/users/result/<%=category %>" method= "POST">
    <% } %> 
        <div class="form-items">
            <label for="title">Activity Title</label>
            <input type="text" id="title" name="title">
        </div>
        <div class="form-items">
            <label for="country">Country(usa: United States, gbr: United Kingdom)</label>
            <input type="text" id="country" name="country">
        </div>
        <div class="form-items">
            <input type="radio" id="taxi" name="mode" value="taxi">
            <label for="taxi">Taxi</label>
            <input type="radio" id="bus" name="mode" value="bus">
            <label for="bus">Bus</label>
            <input type="radio" id="transitRail" name="mode" value="transitRail">
            <label for="transitRail">Transit Rail</label>
        </div>
        <div class="form-items">
            <label for="amount">Amount</label>
            <input type="text" id="amount" name="activity">
        
            <input type="radio" id="miles" name="activityType" value="miles">
            <label for="miles">miles</label>
            <input type="radio" id="fuel" name="activityType" value="fuel">
            <label for="fuel">fuel</label>

            <p>Choose fuel type if you have chosen fuel</p>
            <input type="radio" id="diesel" name="fuelType" value="diesel">
            <label for="diesel">diesel</label>
            <input type="radio" id="aviationGasoline" name="fuelType" value="aviationGasoline">
            <label for="aviationGasoline">aviationGasoline</label>
            <input type="radio" id="jetFuel" name="fuelType" value="jetFuel">
            <label for="jetFuel">jetFuel</label>


        </div>
        <div class="form-items">
            <input type="submit">
        </div>
        
    </form>
    </div>
    <div>
        <img class="form-image" src="../../assets/ptpage.jpg" alt="image of PT">
    </div>
</div>